<style>
.titl {
  margin: 0px;
  width: calc(100%);
  height: 55px;
  background-color: #00ace6;
  text-color: blue;
  text-align: center;
  font-size: calc(200%);
  font-family: 'DM Sans';
  padding: 10px 0px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}

.bar {
  background-color: #99c2ff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'DM Sans';
}

li a {
  display: block;
  padding: 8px;
  background-color: #99c2ff;
  color: #000000;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}

li a.current {
  display: block;
  padding: 8px;
  background-color: #00ace6;
  padding: 14px 16px;
  text-decoration: none;
}

li a.final {
  float: right;
}

li a:hover {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #99c2ff;
}

</style>
