
/* ----------------------------------------- */
/* Style elements that apply to all webpages */
/* ----------------------------------------- */

.titl {
  width: calc(100%);
  height: 55px;
  background-color: #00ace6;
  text-align: center;
  font-size: calc(200%);
  font-family: 'DM Sans';
  padding: 10px 0px;
}

body {
  margin: 0;
  font-family: 'DM Sans';
  min-width: 1300px;
}

/* Navigation bar */
.bar {
  background-color: #99c2ff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'DM Sans';
}

li a {
  display: block;
  background-color: #99c2ff;
  color: #000000;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}

li a.current {
  background-color: #00ace6;
}

li a.final {
  float: right;
}

li a:hover {
  background-color: #e6f0ff;
}

/* Standard section styling used across pages */

.boxUnit {
  padding: 80px 10px 60px 10px;
  text-align: center;
  border-style: solid;
  border-color: #99c2ff;
  border-width: 0px 10px 10px 10px;
}

.boxUnitTitle {
  font-size: 6em;
  line-height: 10px;
  height: 100px;
  text-align: center;

  transition-property: border-color, border-style, border-width;
  transition-duration: 0.3s;
}

.boxUnitTitle:hover {
  border-style: solid;
  border-color: #99c2ff;
  border-width: 0px 10px 0px 10px;
}

.figure {
  margin: auto;
  border-radius: 25px;
  border: 4px solid #696969;
  padding: 20px;
}

.caption {
  font-size: 1.2em;
}

.standardBodyText {
  font-size: 1.3em;
}


/* -------------------------------------------- */
/*  Style elements that apply only to Homepage  */
/* -------------------------------------------- */

.stepOrdinal {
  width: 28px; height: 28px;
  display:inline-block;
  text-align: center;
}

.selection {
  background-color: #e699ff;
  text-align: center;
  vertical-align: middle;
  height: 180px;
  line-height: 90px;
  font-size: 2em;
}  

.buttonRowHolder {
  text-align: center;
  line-height: 0px;
}

.clusterButton {
  width: 120px; height 48px;
  background-color: #f2d9f2;
  border: none;
  font-size: 16px;
  font-family: 'DM Sans';
  padding: 5px 10px;
	
  transition: transform 330ms ease-in-out;
  display: inline-block;
}

.clusterButton:hover {
  transform:scale(1.3,1.3);
}

.legend {
  text-align: left;
  font-size: 1.3em;
  display:inline-block;
}

#legendLabel {
  font-size: 1.3em;
}

/* ----------------------------------------- */
/*  Style elements that apply only to About  */
/* ----------------------------------------- */

.photos img {
    width: 250px;
    height: 250px;
}

/* Give the photos a corner border */
/* Adapted from Arkej, 2017 - */ 
/* https://stackoverflow.com/questions/42832749/create-corner-border-in-css */

.photoBor {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 20px;
}

.photoBor:after {
    display: block;
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top: -25px;
    right: 40px;
    border-top: 15px solid #696969;
    border-right: 15px solid #696969;
}

.photoBor:before {
    display: block;
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: -25px;
    left: 40px;
    border-bottom: 15px solid #696969;
    border-left: 15px solid #696969;
}

/* Line and Center the three photos */
.photos {
  display: flex;
}

.photos > div {
  flex: 1; /*grow*/
}

